<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
    <link rel="stylesheet" href="/app.css">
</head>

<body>
    <div class="flex-container">
        <div class="container">
            <h1>THANK YOU!!!</h1>
            <p class="lead"> Thanks for joining our wait list!!</p>
            <form method="get" action='/'>
                <button>Home</button>
            </form>
        </div>
    </div>
</body>